.fundo {
    background-image: url(./fundo.jpeg);
}

.robert:hover {
    transform: scale(.8);
}

.secao {
    background-color: #000000d0;
    border: 2px solid #ffffff;
    border-radius: 25px;
}

.titulo {
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    margin: 40px 0 5px 0;
    text-align: center;
    text-shadow: 1.5px 1.5px #ffc6096e;
}

.paragrafo {
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0 15px 0 30px;
}

.subtitulo {
    color: #fdfdfd;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 1.5px 1.5px #ffc6096e;
}

/*---imagens---*/

.imagens {
    transition: 0.8s;
}

.imagens:hover {
	opacity: .5;
}

@media screen and (min-width: 0) {
    .inicio {
        background-color: #000000d0;
        display: flex;
        flex-direction: column;   
    }
    .robert {
        border-radius: 100%;
        height: 200px;
        margin: 87px 200px 5px 145px;  
        transition: 0.8s;
        width: 200px;
    }
    .nome {
        color: #fdfdfd;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        padding: 0 0 0 60px;
    }
    .secao {
        margin: 40px 5px 0 5px;
    }
    .secao:first-child {
        margin: 110px 5px 10px 5px;
    }
    .secao:last-child {
        margin: 40px 5px 80px 5px;
    }
    .imagem1 {
        border-radius: 10px;
        width: 380px;
        margin: 10px 30px 10px 45px;
    }   
    .imagem2 {
        border-radius: 10px;
        width: 380px;
        margin: 10px 30px 30px 45px;
    }    
    .imagem3 {
        border-radius: 10px;
        width: 380px;
        margin: 10px 30px 10px 45px;
    }   
    .imagem4 {
        border-radius: 10px;
        width: 380px;
        margin: 10px 30px 10px 45px;
    }   
    .imagem5 {
        border-radius: 10px;
        width: 380px;
        margin: 10px 30px 30px 45px;
    }
}

@media screen and (min-width:768px) {
    .inicio {
        background-color: #000000d0;
        display: flex;
        flex-direction: row;   
    }   
    .robert {
        border-radius: 100%;
        height: 200px;
        margin: 87px 0 10px 250px;  
        transition: 0.8s;
        width: 200px;
    }
    .nome {
        color: #fdfdfd;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem;
        padding: 180px 0 0 40px;
    }
    .secao {
        margin: 40px 100px 0 100px;
    }
    .secao:last-child {
        margin: 40px 100px 100px 100px;
    }
    .imagem1 {
        border-radius: 10px;
        height: 280px;
        margin: 10px 10px 30px 95px;
    }   
    .imagem2 {
        border-radius: 10px;
        height: 280px;
        margin: 10px 30px 30px 180px;
    } 
    .pedaco {
        display: flex;
        flex-direction: row;
    }  
    .imagem3 {
        border-radius: 10px;
        height: 280px;
        margin: 10px 30px 30px 30px;
    }   
    .imagem4 {
        border-radius: 10px;
        height: 280px;
        margin: 10px 30px 30px 120px;
    }   
    .imagem5 {
        border-radius: 10px;
        height: 280px;
        margin: 10px 30px 30px 120px;
    }
}